# Firebase Configuration - Replace with your own
VITE_FIREBASE_API_KEY=AIzaSyBHZwiXF1sCqIQ7GXNXn5cU0cGkhXUZLgA
VITE_FIREBASE_AUTH_DOMAIN=raja-bazar-68887.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=raja-bazar-68887
VITE_FIREBASE_STORAGE_BUCKET=raja-bazar-68887.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=438106129150
VITE_FIREBASE_APP_ID=1:438106129150:web:1570f8e375cd1e88325baf

# Admin WhatsApp Number
VITE_ADMIN_WHATSAPP=923111211489
